In [1]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name="Adithi"
Name="Roy"

print(name)
print(Name)

Adithi
Roy

In [2]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:

    print(age)

print(age)

32
32

In [3]:
## This is a single line comment
print("Hello World")

Hello World

In [4]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [5]:
## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [6]:
##Understand  Semnatics In Python
# variable assignment
age=24 ##age is an integer
name="Adithi" ##name is a string

In [7]:
type(age)

int

In [8]:
type(name)

str

In [9]:
## Type Inference
variable=10
print(type(variable))
variable="Adithi"
print(type(variable))

<class 'int'>
<class 'str'>

In [10]:
age=32
if age>30:
    print(age)

32

In [11]:
## Name Error
a=b

NameError: name 'b' is not defined

In [12]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block