In [1]:
a=100

In [2]:
## Declaring And Assigning Variables

age=24
height=5.5
name="Adithi"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 24
Height: 5.5
Name: Adithi

In [3]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Adithi"
last_name="Roy"

In [4]:
## case sensitivity
name="Adithi"
Name="Roy"

In [5]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=5.5 #float
name="Adithi" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [6]:
## Type Checking and Conversion

type(height)

float

In [7]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [8]:
age='25'
print(type(int(age)))

<class 'int'>

In [9]:
name="Adithi"
int(name)

ValueError: invalid literal for int() with base 10: 'Adithi'

In [10]:
height=5.11
type(height)

float

In [11]:
float(int(height))

5.0

In [12]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [13]:
## input

age=int(input("What is the age"))
print(age,type(age))

What is the age24
24 <class 'int'>

In [14]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 4
Enter second number: 464537
Sum: 464541.0
Difference: -464533.0
Product: 1858148.0
Quotient: 8.61072422648788e-06