### Introduction to Functions
Definition:

A function is a block of code that performs a specific task.
Functions help in organizing code, reusing code, and improving readability.

In [1]:
## syntax
def function_name(parameters):
    """Docstring"""
    # Function body
    return expression

In [2]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [3]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
        print("the number is even")
    else:
        print("the number is odd")

In [4]:
## Call this function
even_or_odd(24)

the number is even

In [5]:
## function with multiple parameters

def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [6]:
## Default Parameters

def greet(name):
    print(f"Hello {name} Welcome To the paradise")

greet("Adi")

Hello Adi Welcome To the paradise

In [7]:
def greet(name="Guest"):
    print(f"Hello {name} Welcome To the paradise")

greet("Adi")

Hello Adi Welcome To the paradise

In [8]:
### Variable Length Arguments
## Positional And Keywords arguments

def print_numbers(*Adi):
    for number in Adi:
        print(number)

In [9]:
print_numbers(1,2,3,4,5,6,7,8,"Adi")

1
2
3
4
5
6
7
8
Adi

In [10]:
## Positional arguments
def print_numbers(*args):
    for number in args:
        print(number)

In [11]:
print_numbers(1,2,3,4,5,6,7,8,"Adi")

1
2
3
4
5
6
7
8
Adi

In [12]:
### Keywords Arguments

def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [13]:
print_details(name="Adi",age="23",country="India")

name:Adi
age:23
country:India

In [14]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" Positional arument :{val}")

    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [15]:
print_details(1,2,3,4,"Adi",name="Adi",age="23",country="India")

 Positional arument :1
 Positional arument :2
 Positional arument :3
 Positional arument :4
 Positional arument :Adi
name:Adi
age:23
country:India

In [16]:
### Return statements
def multiply(a,b):
    return a*b

multiply(2,3)

6

In [17]:
### Return multiple parameters
def multiply(a,b):
    return a*b,a

multiply(2,3)

(6, 2)