### The filter() Function in Python
The filter() function constructs an iterator from elements of an iterable for which a function returns true. It is used to filter out items from a list (or any other iterable) based on a condition.

In [3]:
def even(num):
    if num%2==0:
        return True

In [4]:
even(24)

True

In [5]:
lst=[1,2,3,4,5,6,7,8,9,10,11,12]

list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [6]:
## filter with a Lambda Function
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [7]:
## Filter with a lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [8]:
## Filter() to check if the age is greate than 25 in dictionaries
people=[
    {'name':'Adi','age':23},
    {'name':'Jack','age':33},
    {'name':'John','age':25}
]

def age_greater_than_25(person):
    return person['age']>25

list(filter(age_greater_than_25,people))

[{'name': 'Jack', 'age': 33}]