In [1]:
## Creating Dictionaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict=dict()
empty_dict

{}

In [4]:
student={"name":"Adithi","age":24,"grade":16}
print(student)
print(type(student))

{'name': 'Adithi', 'age': 24, 'grade': 16}
<class 'dict'>

In [5]:
# Single key is slways used
student={"name":"Adithi","age":24,"name":16}
print(student)

{'name': 16, 'age': 24}

In [6]:
## accessing Dictionary Elements
student={"name":"Adithi","age":24,"grade":'A'}
print(student)

{'name': 'Adithi', 'age': 24, 'grade': 'A'}

In [7]:
## Accessing Dictionary elements
print(student['grade'])
print(student['age'])

## Accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"Not Available"))

A
24
A
None
Not Available

In [8]:
## Modifying Dicitonary Elements
## Dictionary are mutable,so you can add, update or delete elements
print(student)

{'name': 'Adithi', 'age': 24, 'grade': 'A'}

In [9]:
student["age"]=23  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'Adithi', 'age': 23, 'grade': 'A'}
{'name': 'Adithi', 'age': 23, 'grade': 'A', 'address': 'India'}

In [10]:
del student['grade'] ## delete key and value pair

print(student)

{'name': 'Adithi', 'age': 23, 'address': 'India'}

In [11]:
## Dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all values
print(values)

items=student.items() ##get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Adithi', 23, 'India'])
dict_items([('name', 'Adithi'), ('age', 23), ('address', 'India')])

In [12]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'Adithi', 'age': 23, 'address': 'India'}
{'name': 'Adithi', 'age': 23, 'address': 'India'}

In [13]:
student["name"]="Adithi2"
print(student)
print(student_copy)

{'name': 'Adithi2', 'age': 23, 'address': 'India'}
{'name': 'Adithi2', 'age': 23, 'address': 'India'}

In [14]:
student_copy1=student.copy() ## shallow copy
print(student_copy1)
print(student)

{'name': 'Adithi2', 'age': 23, 'address': 'India'}
{'name': 'Adithi2', 'age': 23, 'address': 'India'}

In [15]:
student["name"]="Adithi3"
print(student_copy1)
print(student)

{'name': 'Adithi2', 'age': 23, 'address': 'India'}
{'name': 'Adithi3', 'age': 23, 'address': 'India'}

In [16]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items

## Iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [17]:
## Iterate over values
for value in student.values():
    print(value)

Adithi3
23
India

In [18]:
## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:Adithi3
age:23
address:India

In [19]:
## Nested Disctionaries
students={
    "student1":{"name":"Adithi","age":24},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Adithi', 'age': 24}, 'student2': {'name': 'Peter', 'age': 35}}

In [20]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [21]:
students.items()

dict_items([('student1', {'name': 'Adithi', 'age': 24}), ('student2', {'name': 'Peter', 'age': 35})])

In [22]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Adithi', 'age': 24}
name:Adithi
age:24
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [23]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [25]:
## Practical Examples

## USe a dictionary to count he frequency of elements in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [26]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}